[submodule "HunspellWordForms"]
	path = HunspellWordForms
	url = https://github.com/anezih/HunspellWordForms
[submodule "StarDictNet"]
	path = StarDictNet
	url = https://github.com/anezih/StarDictNet
